<div id="<%= dom_id cart %>" class="d-inline-flex flex-column flax-shrink-0 p-3">
  <h2>Cart Items</h2>

  <p>These are your current products in your cart</p>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>

    <%= render cart.line_items %>
   
    <tr>
      <td colspan="2">Total: </td>
      <td> <%= number_to_currency(cart.total_price) %> </td>
    </tr>
  </tbody>
</table>

  <%= button_to "Empty cart", cart, method: :delete %>
</div>
