<% if cart and not cart.line_items.empty? %>
  <div id="cart" class="d-inline-flex mt-5 sticky-top" style="width: 15%">
    <%= render "carts/cart",  cart: @cart %>
  </div>
<% else %>
  <div id="cart" class="d-inline-flex" style="width: 15%"></div>
<% end %>